

body{
    background-color: black;
}
html{
  scroll-behavior: smooth;
}

  .hambuger{
    display: none;
}

.nav{
  background-color: black;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  padding: 15px 0;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  cursor: pointer;
}
.nav h1{
  color: #fff;
  margin-left: 35px;
}
.title-span{
  color: orangered;
}
.logo {
  color: red;
}
.navLink {
  align-items: center;
  margin-top: 30px;  
  font-size: 20px;
}
.navLink a:hover{
  
  text-decoration: underline;
  text-decoration-color: orangered;
  text-decoration-thickness:2px;
  transition: 0.3s;

}
.navLink a {
  text-decoration: none;
  color: #fff;
}
.navLink a{
  margin: 0 10px;
}
.search-btn {
  margin-top: 30px;
  border-radius: 20px;
  padding: 6px 37px;
  border: none;
}

/* top-container */
.top-container{
    color: #fff;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 30px 70px;
}
.sub-top-cont{
    margin-top: 70px;
}
.amazin-span{
    color: orangered;
}

.btn1{
    color: #fff;
    background-color: orangered;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
}
.btn2{
    color: black;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
}

.top-container img{
    width: 40%;
    height: auto;
    border-radius: 10px;
}
@media only screen and (max-width:757px) {

    .hambuger {
        display: block;
        float: right;
        margin: 20px;
        cursor: pointer;
        
    }
.navv{
    width: 350px;
    padding: 10px;
    float: right;
}
.bar1, .bar2, .bar3{
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    display: block;
}
.change .bar1{
    background-color: #fff;
    transform:  translate(0, 10px) rotate(45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    background-color: #fff;
    transform: translate(0, -10px) rotate(-45deg);
}
.navv a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    display: block;
    margin: 0px 0;
    transition: 0.4s;
}
.ham{
    margin: 0px 0;
    padding: 10px 10px;
}
.hambuger{
    float: right;
    margin: 20px 0;
    padding: 10px 10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    gap: 10px;
}
.active{
    color: #fff;
    margin: 0px 0;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.drimage{
    width: 10%;
    height: 30px;
    border-radius: 100px;
    margin: 0 10px;
}
.navlist{
    color: #fff;
    display: none;
    box-shadow: opx 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1001;
    cursor: pointer;
    background-color: black;
    padding: 10px 0;
}
.navlist a{
    color: #fff;
    list-style: none;
    margin: 0px 10px;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    
    
}
.navlist a:hover{
    color: #ffff;
    background-color: rgb(120, 226, 120);
    border-radius: 5px;
    padding: 10px 5px;
    margin: 20px 10px;
}
.activo{
    background-color: rgb(120, 226, 120);
    border-radius: 5px;
}
.show{
    display: block;
}
    .top-container{
      display: block;
    }
    .top-container img{
      width: 100%;
      height: auto;
      margin-top: 10px;
  }
  /**navLink**/
  .navLink{
    display: none;
  }
  .search{
    display: none;
  }


}